// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

$m-gutter: 1rem;
$m-maxwidth: 65rem;
$c-black: #000;
$c-white: #fefefe;
$c-navground: #2c3e50;
$c-header: #2980b9;
@import 'box-sizing';
@import 'resets';


header {
  background: $c-header;
  color: $c-white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -$m-gutter;
  padding: 0.2rem 2rem;
  background: $c-navground;

  &__name {
    font-size: 1.2rem;
  }

  &__list {
    display: flex;

    > * + * {
      padding-left: 2rem;
    }
  }
}

.list-item__link {
  color: $c-white;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  max-width: 65rem;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;

  &__title {
    color: $c-black;
  }

  &__subtitle {
    margin: 0;
  }
}
